In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [128]:
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

In [9]:
from sklearn.metrics import confusion_matrix, classification_report

In [11]:
df_train = pd.read_csv('C:/Users/Administrator/Desktop/PM/ChurnData.csv')

In [13]:
df_train.head(5)

,Unnamed: 0,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,1,KS,128,area_code_415,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,no
1,2,OH,107,area_code_415,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
2,3,NJ,137,area_code_415,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
3,4,OH,84,area_code_408,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
4,5,OK,75,area_code_415,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no

In [14]:
del df_train['Unnamed: 0']

In [15]:
df_train.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,KS,128,area_code_415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,no
1,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
2,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
3,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
4,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
state                            3333 non-null object
account_length                   3333 non-null int64
area_code                        3333 non-null object
international_plan               3333 non-null object
voice_mail_plan                  3333 non-null object
number_vmail_messages            3333 non-null int64
total_day_minutes                3333 non-null float64
total_day_calls                  3333 non-null int64
total_day_charge                 3333 non-null float64
total_eve_minutes                3333 non-null float64
total_eve_calls                  3333 non-null int64
total_eve_charge                 3333 non-null float64
total_night_minutes              3333 non-null float64
total_night_calls                3333 non-null int64
total_night_charge               3333 non-null float64
total_intl_minutes               3333 non-null float64
total_intl_calls                 3333 non-null int64
total_intl_charge                3333 non-null float64
number_customer_service_calls    3333 non-null int64
churn                            3333 non-null object
dtypes: float64(8), int64(7), object(5)
memory usage: 520.9+ KB

In [17]:
df_train.columns

Index(['state', 'account_length', 'area_code', 'international_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churn'],
      dtype='object')

In [18]:
x = np.array(df_train[['state', 'account_length', 'area_code', 'international_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls']])

In [20]:
y = np.array(df_train['churn'])

In [21]:
model = LogisticRegression()

In [23]:
from sklearn.preprocessing import LabelEncoder

In [34]:
tras = LabelEncoder()

In [43]:
df_train['area_code_tr'] = tras.fit_transform(df_train['area_code'])

In [46]:
df_train.columns

Index(['state', 'account_length', 'area_code', 'international_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churn', 'state_tr', 'area_code_tr'],
      dtype='object')

In [49]:
del df_train['area_code']

In [50]:
df_train.columns

Index(['account_length', 'international_plan', 'voice_mail_plan',
       'number_vmail_messages', 'total_day_minutes', 'total_day_calls',
       'total_day_charge', 'total_eve_minutes', 'total_eve_calls',
       'total_eve_charge', 'total_night_minutes', 'total_night_calls',
       'total_night_charge', 'total_intl_minutes', 'total_intl_calls',
       'total_intl_charge', 'number_customer_service_calls', 'churn',
       'state_tr', 'area_code_tr'],
      dtype='object')

In [101]:
#df_dummies = pd.get_dummies(df_train,prefix=True,drop_first=True)

In [64]:
df_train['target_churn_dum'] = pd.get_dummies(df_train.churn,prefix='churn',drop_first=True)

In [65]:
df_train.columns

Index(['account_length', 'international_plan', 'voice_mail_plan',
       'number_vmail_messages', 'total_day_minutes', 'total_day_calls',
       'total_day_charge', 'total_eve_minutes', 'total_eve_calls',
       'total_eve_charge', 'total_night_minutes', 'total_night_calls',
       'total_night_charge', 'total_intl_minutes', 'total_intl_calls',
       'total_intl_charge', 'number_customer_service_calls', 'churn',
       'state_tr', 'area_code_tr', 'int_plan_dum', 'voic_mail_dum',
       'target_churn_dum'],
      dtype='object')

In [66]:
del df_train['international_plan']

In [67]:
del df_train['voice_mail_plan']

In [68]:
del df_train['churn']

In [69]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
account_length                   3333 non-null int64
number_vmail_messages            3333 non-null int64
total_day_minutes                3333 non-null float64
total_day_calls                  3333 non-null int64
total_day_charge                 3333 non-null float64
total_eve_minutes                3333 non-null float64
total_eve_calls                  3333 non-null int64
total_eve_charge                 3333 non-null float64
total_night_minutes              3333 non-null float64
total_night_calls                3333 non-null int64
total_night_charge               3333 non-null float64
total_intl_minutes               3333 non-null float64
total_intl_calls                 3333 non-null int64
total_intl_charge                3333 non-null float64
number_customer_service_calls    3333 non-null int64
state_tr                         3333 non-null int64
area_code_tr                     3333 non-null int64
int_plan_dum                     3333 non-null uint8
voic_mail_dum                    3333 non-null uint8
target_churn_dum                 3333 non-null uint8
dtypes: float64(8), int64(9), uint8(3)
memory usage: 452.5 KB

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
df_train.columns

Index(['account_length', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'state_tr', 'area_code_tr',
       'int_plan_dum', 'voic_mail_dum', 'target_churn_dum'],
      dtype='object')

In [74]:
X = df_train[['account_length', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'state_tr', 'area_code_tr',
       'int_plan_dum', 'voic_mail_dum']]
Y = df_train['target_churn_dum']

In [76]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.20)

In [77]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((2666, 19), (667, 19), (2666,), (667,))

In [78]:
model = LogisticRegression()

In [82]:
model.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [83]:
model.score(xtrain,ytrain) #training accuracy

0.8555888972243061

In [85]:
model.score(xtest,ytest) # test accuracy

0.8770614692653673

In [93]:
temp = model.predict_proba(xtest)

In [103]:
# predicted value 0 means 'no churn'
# predicted value 1 means 'churn'

In [114]:
diff = temp[:,-2] - temp[:,-1]
diff

array([ 0.74945678,  0.95822995,  0.45905366,  0.45117729,  0.93219456,
        0.93187313,  0.7857715 ,  0.91162705,  0.75456912,  0.96040668,
        0.85973109,  0.82247041,  0.74339232,  0.9224642 ,  0.89366118,
        0.93572488,  0.8929282 ,  0.79537227,  0.83918137,  0.62532582,
        0.72073179,  0.07597114,  0.61728521,  0.59189076,  0.92613616,
        0.88267905,  0.59965675,  0.03852792,  0.90966833, -0.3156803 ,
        0.91255483,  0.75031193,  0.98119328, -0.06826902, -0.70722719,
        0.80836128,  0.58475429,  0.74865779,  0.85508482,  0.87071358,
        0.85401398,  0.74466586,  0.93947039,  0.79535922,  0.88893061,
        0.70052142,  0.85822166,  0.78234956,  0.89630117,  0.53761303,
        0.888282  ,  0.87136653,  0.27428995,  0.9200331 , -0.82832016,
        0.57712664,  0.09100522,  0.92278649,  0.73229187,  0.35437951,
        0.86649033,  0.91119237,  0.68835938,  0.57177629,  0.96537365,
        0.97179054,  0.76975238,  0.43527139,  0.93643564, -0.38742733,
        0.94262648,  0.90676878,  0.76506977,  0.96267412,  0.69858582,
        0.70728689,  0.67512125,  0.90609416,  0.95872377,  0.97040478,
       -0.39791072,  0.52627815,  0.96342539,  0.96618552,  0.91367979,
        0.89732408,  0.69859938,  0.77800068,  0.8759077 ,  0.85616907,
        0.47917823, -0.73930261,  0.61793652,  0.03015526,  0.88744393,
       -0.25423114,  0.51418824,  0.82603424,  0.85078203,  0.26193914,
        0.04562394,  0.82965631,  0.58140679,  0.90350353,  0.91256825,
        0.93414035,  0.61469744,  0.854248  ,  0.80495996,  0.83965685,
        0.97595873, -0.06080611,  0.84190869,  0.77490331, -0.06110961,
        0.66097783,  0.96709769,  0.80886672,  0.92384015, -0.4142596 ,
        0.50519564,  0.76708574,  0.09436399,  0.75784325,  0.95005439,
        0.79677386,  0.90801381,  0.38929708,  0.98322517,  0.83673869,
       -0.2245505 ,  0.87359172,  0.79320978,  0.93676816,  0.91988769,
        0.87593226,  0.71994396,  0.52058544,  0.94243783,  0.96721937,
        0.90879074,  0.65105651,  0.84416123,  0.98020914,  0.30763726,
        0.93474545,  0.86540193,  0.17500503,  0.51178652,  0.82648811,
        0.79564245,  0.99664748,  0.7570304 ,  0.32782221,  0.91587424,
        0.69682857,  0.75254901,  0.82522072,  0.68243487,  0.74316694,
       -0.31811594,  0.88997027,  0.89620858, -0.3929471 ,  0.92076817,
        0.5846091 , -0.72425534,  0.71709281,  0.83779027,  0.76977719,
        0.6872159 ,  0.92364725,  0.4510799 ,  0.42864718,  0.81154337,
        0.86076708,  0.84888393,  0.60023684,  0.82788134,  0.94018402,
        0.88597354, -0.60692101,  0.93489618,  0.79248626,  0.23221177,
        0.70694742,  0.45244146,  0.67528949,  0.84134755,  0.95943705,
        0.5843174 ,  0.71654401, -0.27607034,  0.18605773,  0.85744704,
        0.6476983 ,  0.9549503 ,  0.57485836,  0.10770088,  0.95907999,
        0.76474004,  0.73527156,  0.82740913,  0.80277108,  0.83069676,
        0.65333913,  0.67269002,  0.56062589,  0.89403563,  0.95789111,
       -0.40520275,  0.07176063,  0.94621762, -0.58141686,  0.61695514,
        0.89099312,  0.86091441,  0.88361265,  0.70769313,  0.54443421,
       -0.16562668,  0.67134803,  0.90255814,  0.90459384,  0.89885375,
        0.96285464,  0.73868548,  0.13943001,  0.88183277,  0.86820029,
        0.85495748,  0.92196258,  0.97118747,  0.9379234 ,  0.90235948,
        0.91423529,  0.95796057,  0.07306558,  0.92219616,  0.56048761,
        0.75992776,  0.71428062,  0.88859982,  0.89185588, -0.46556104,
        0.65436648,  0.84110482,  0.85765004,  0.92465267,  0.6903843 ,
        0.81660881,  0.90813675,  0.76957729,  0.71418766,  0.6890602 ,
        0.96879368,  0.69926402,  0.86417523,  0.90039339,  0.60579291,
        0.80388483, -0.18204155,  0.56698721,  0.63396895,  0.95524604,
        0.58095524,  0.02421437,  0.88494295,  0.92346948,  0.7292399 ,
        0.74702398,  0.97896851,  0.9244201 ,  0.98485987,  0.63662786,
        0.83081485,  0.94002778,  0.80004023,  0.85219082,  0.58688238,
        0.86111328,  0.94338683,  0.70032273,  0.73848755,  0.97245423,
        0.82705248,  0.92713693,  0.95059708,  0.94390831,  0.17646597,
        0.62955465,  0.92344789,  0.90279518, -0.02557439,  0.8445292 ,
        0.61800614,  0.90961357,  0.76441173,  0.74106057,  0.88026452,
        0.73131399,  0.72485604,  0.96728306,  0.97860478,  0.896728  ,
        0.84890155,  0.46668125,  0.88853801,  0.62236614,  0.54769876,
        0.73344167, -0.18766828,  0.9320021 ,  0.97166569,  0.69642647,
        0.80010804,  0.53175956,  0.88617449,  0.70739063, -0.45784068,
        0.53860778,  0.78855538,  0.15032481,  0.88159952,  0.86658871,
        0.85563069,  0.775825  ,  0.67498462,  0.83934015,  0.84912313,
        0.87857931,  0.73920114,  0.70560921,  0.36751994,  0.90290833,
        0.80376997,  0.31811456,  0.91699691,  0.73222314,  0.64274162,
        0.74770297,  0.80863117,  0.89121247,  0.84773849, -0.49653815,
        0.82825975,  0.95492586,  0.87168195,  0.66142097,  0.80509501,
        0.88018422,  0.82887134,  0.93238208,  0.69385198,  0.88520034,
        0.86050968,  0.86164838,  0.32173398,  0.82676026,  0.60891043,
        0.5466211 ,  0.27160275,  0.92912103,  0.49167476,  0.89001906,
        0.47308925,  0.95847949,  0.74322182,  0.38860469,  0.27682658,
        0.93203777,  0.55833045,  0.90998616,  0.49542819,  0.92054444,
        0.86169397,  0.84334627,  0.90661499,  0.88599397,  0.88586847,
        0.62707948,  0.77059573,  0.8334158 ,  0.81604573,  0.68406032,
        0.8021926 ,  0.41616953,  0.33027189,  0.15569829,  0.2545646 ,
        0.17909658,  0.63153984, -0.05880069,  0.89856399,  0.74478356,
        0.17298963,  0.04817026,  0.29698993,  0.62021585,  0.59731418,
        0.77994335, -0.13590145,  0.9335421 ,  0.84507662,  0.85782497,
        0.92518494,  0.87062909,  0.75656847,  0.33195785,  0.96467906,
        0.52530836,  0.88187205,  0.70798387,  0.92556288,  0.83581074,
        0.7202751 ,  0.93658983,  0.61278295,  0.58237956,  0.40935907,
        0.85813657,  0.72533589,  0.43507889,  0.82264236,  0.50066935,
        0.22744002,  0.81642186,  0.98106515,  0.86252472,  0.74452723,
        0.37142908,  0.8601788 ,  0.14451139,  0.93676049,  0.79314869,
        0.50509349,  0.95378284,  0.94297635,  0.8973696 ,  0.8984462 ,
        0.80612799,  0.73324289,  0.11099552,  0.70409875,  0.78432012,
        0.85379685,  0.85283831,  0.97582846,  0.71592053,  0.92714113,
        0.70718119,  0.76803381,  0.92867161,  0.34794306,  0.87114536,
        0.39248314,  0.98103663,  0.89134149,  0.89219267,  0.47762263,
        0.89387869,  0.93560337,  0.59899283,  0.8730372 ,  0.23804127,
        0.82999906,  0.82602958,  0.91593514,  0.61470401, -0.30096651,
        0.91622001,  0.84838992,  0.62772213,  0.46532384,  0.26505574,
        0.78048917,  0.0728994 ,  0.77613202,  0.60843693,  0.97852628,
        0.85046986,  0.94962916,  0.92456924,  0.4743426 ,  0.60635395,
        0.60132617,  0.75172346,  0.96689049,  0.85914528,  0.8561485 ,
        0.63162742,  0.8216103 ,  0.96502359,  0.76921541,  0.0674496 ,
        0.71291699,  0.95601351,  0.90472846,  0.97502629,  0.65811016,
       -0.21025107,  0.98503496,  0.95350901,  0.08161862,  0.78909997,
        0.81611712,  0.7021864 ,  0.49608591,  0.62339887,  0.94465026,
        0.82083208,  0.36571759,  0.93267079,  0.99214281,  0.55068873,
        0.72576857,  0.74756286,  0.95406356,  0.02351597,  0.47091491,
        0.96232954, -0.24105319,  0.87090466,  0.03944853,  0.86305309,
        0.9364335 ,  0.85961321,  0.78988467,  0.9529332 ,  0.54785522,
        0.07670588,  0.3055644 , -0.16457722,  0.88236293,  0.65617192,
        0.91629267,  0.82166832,  0.88402064,  0.14455792,  0.77071298,
        0.99393151,  0.89064019,  0.78160186,  0.60948795,  0.84536305,
        0.72046309,  0.93565135,  0.89503498,  0.94881434,  0.95692231,
        0.94491168,  0.7692353 ,  0.7491348 ,  0.92546458,  0.93050938,
        0.8759517 ,  0.67742373,  0.9526256 ,  0.14824482,  0.46098699,
        0.93516576,  0.94349857, -0.00610637,  0.65528135,  0.89999678,
       -0.05438595, -0.20287732,  0.74370801,  0.20208011,  0.57407756,
        0.9500094 ,  0.90939448,  0.89134717,  0.74858683,  0.3662353 ,
        0.69876667,  0.90294836,  0.62505281,  0.88517777,  0.49708005,
        0.7541663 ,  0.88359619,  0.66032297, -0.50988368,  0.71218657,
        0.91823993,  0.7099276 ,  0.87150091,  0.62976596, -0.45595069,
        0.86763443,  0.96491157,  0.60215694,  0.9804626 ,  0.80346277,
        0.11688535,  0.56594132,  0.8926989 ,  0.72810025,  0.3227691 ,
        0.62492186,  0.93500681,  0.36408249,  0.67095738,  0.92361335,
        0.59102468,  0.11458779,  0.82006045,  0.85838091,  0.76585751,
        0.60106939,  0.48552196,  0.89346443,  0.91217512,  0.7688637 ,
        0.72200917,  0.90875741,  0.4152743 ,  0.85615412,  0.77122911,
        0.77043969,  0.92458712,  0.56255409,  0.93625174,  0.16523011,
        0.61206923,  0.87152077,  0.90739699,  0.79670553,  0.34533624,
        0.74333897,  0.71157324,  0.77919917,  0.80260314,  0.90351963,
        0.69390069,  0.82683403,  0.87240811,  0.52537237,  0.81932206,
       -0.00172994,  0.75288731,  0.86456853,  0.93451338,  0.91943626,
        0.72237214,  0.89940658,  0.16033137,  0.86905112,  0.80346298,
        0.90900377,  0.75247631,  0.68468826,  0.84297286,  0.82700907,
        0.85889338,  0.8657982 ,  0.93400309,  0.93362358,  0.71087364,
        0.5483125 ,  0.55467724,  0.93311184,  0.59424301,  0.85126719,
        0.83188936,  0.96362465])

In [117]:
pd.Series(np.where(diff < 0.10,'bad','good')).value_counts()

good    613
bad      54
dtype: int64

In [127]:
54/667

0.08095952023988005

In [98]:
temp
# if the probability of no churn > 0.5, no churn, churn

array([[0.87472839, 0.12527161],
       [0.97911498, 0.02088502],
       [0.72952683, 0.27047317],
       ...,
       [0.92563359, 0.07436641],
       [0.91594468, 0.08405532],
       [0.98181232, 0.01818768]])

In [120]:
pred_y_60 = np.where(temp[:,-2] > 0.6, 0,1)

In [121]:
confusion_matrix(ytest,pred_y_60)

array([[547,  36],
       [ 49,  35]], dtype=int64)

In [122]:
print(classification_report(ytest,pred_y_60))

             precision    recall  f1-score   support

          0       0.92      0.94      0.93       583
          1       0.49      0.42      0.45        84

avg / total       0.86      0.87      0.87       667

In [125]:
# since this is reducing the overall accuracy and without improving the class 1 (churn) accuracy,
# fallback, this step should not be pursued
pred_y_70 = np.where(temp[:,-2] > 0.7, 0,1)
confusion_matrix(ytest,pred_y_70)

array([[524,  59],
       [ 42,  42]], dtype=int64)

In [126]:
print(classification_report(ytest,pred_y_70))

             precision    recall  f1-score   support

          0       0.93      0.90      0.91       583
          1       0.42      0.50      0.45        84

avg / total       0.86      0.85      0.85       667

In [106]:
pred_y = model.predict(xtest)

In [107]:
confusion_matrix(ytest,pred_y)

array([[565,  18],
       [ 64,  20]], dtype=int64)

In [112]:
print(classification_report(ytest,pred_y))

             precision    recall  f1-score   support

          0       0.90      0.97      0.93       583
          1       0.53      0.24      0.33        84

avg / total       0.85      0.88      0.86       667

In [102]:
df_train.head()

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,state_tr,area_code_tr,int_plan_dum,voic_mail_dum,target_churn_dum
0,128,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,16,1,0,1,0
1,107,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,35,1,0,1,0
2,137,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,31,1,0,0,0
3,84,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,35,0,1,0,0
4,75,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,36,1,1,0,0

In [88]:
np.round(model.coef_,2)

array([[-0.  ,  0.02,  0.01, -0.  ,  0.01,  0.01, -0.01, -0.01,  0.  ,
        -0.  , -0.  ,  0.04, -0.12,  0.03,  0.47,  0.  , -0.07,  2.02,
        -1.53]])